= render 'shared/header'
.mypage
  .left-side
    = render 'shared/mypage-side-nav'
  .right-side
    .mypage-content
      %h3 出品した商品
      .mypage-content__tab
        %ul
          = link_to root_path do
            .current-deal 出品中
          = link_to root_path do
            .past-deal 取引中
          = link_to root_path do
            .past-deal 売却済
      - seller.id == current_user.id
       - @items.each do |item|
        %ul.content-list
          %li
            = link_to users_edit_path(current_user[:item]) do
              .item-box
                = image_tag(item.images[0].image.url)
                .item-box__text
                  = item.name
          
            
= render 'shared/footer'