%header.main-header
  .header__top
    .header__top__left
      = image_tag 'merrcari.svg'
    .header__top__right
      %input{placeholder:"何かお探しですか？", type:"search"}
      .header__top__right__icon
        = fa_icon "search", class: "fas fa-search"
  .header__row
    .header__row__left
      %ul
        %li
          = fa_icon "list_ul", class: "fas fa-list-ul"
          カテゴリーから探す
        %li
          = fa_icon "tag", class: "fas fa-tags"
          ブランドから探す
    .header__row__right
      %ul
        %li
          = fa_icon "bell", class: "far fa-bell"
          お知らせ
        %li
          = fa_icon "check", class: "fas fa-check"
          やることリスト
        %li
          = fa_icon "user", class: "fas fa-user"
          = link_to "マイページ", users_registrations_path 