.mypage-bav
  %ul.mypage-nav-lists
    %li.nav-item
      = link_to root_path do
        マイページ
        = fa_icon "angle-right", class: "icon"
    %li.nav-item
      = link_to root_path do
        お知らせ
        = fa_icon "angle-right", class: "icon"
    %li.nav-item
      = link_to root_path do
        やることリスト
        = fa_icon "angle-right", class: "icon"
    %li.nav-item
      = link_to root_path do
        いいね！一覧
        = fa_icon "angle-right", class: "icon"
    %li.nav-item
      = link_to root_path do
        出品する
        = fa_icon "angle-right", class: "icon"
    %li.nav-item
      = link_to root_path do
        出品した商品 - 出品中
        = fa_icon "angle-right", class: "icon"
    %li.nav-item
      = link_to root_path do
        出品した商品 - 取引中
        = fa_icon "angle-right", class: "icon"
    %li.nav-item
      = link_to root_path do
        出品した商品 - 売却済み
        = fa_icon "angle-right", class: "icon"
    %li.nav-item
      = link_to root_path do
        購入した商品 - 取引中
        = fa_icon "angle-right", class: "icon"
    %li.nav-item
      = link_to root_path do
        購入した商品 - 過去の取引
        = fa_icon "angle-right", class: "icon"
    %li.nav-item
      = link_to root_path do
        ニュース一覧
        = fa_icon "angle-right", class: "icon"
    %li.nav-item
      = link_to root_path do
        評価一覧
        = fa_icon "angle-right", class: "icon"
    %li.nav-item
      = link_to root_path do
        ガイド
        = fa_icon "angle-right", class: "icon"
    %li.nav-item
      = link_to root_path do
        お問い合わせ
        = fa_icon "angle-right", class: "icon"