.mypage
  .left-side
    = render 'shared/mypage-side-nav'
  .right-side
    .mypage-user
      = image_tag "Lights_Blur.jpg"
      .mypage-user__icon
        = link_to root_path do
          = image_tag "cat.jpeg"
          .mypage-user__icon--name よしだじゅんき
          .mypage-user__icon--number
            評価 37 出品数 27
    .mypage-tab
      .mypage-tab__list
        %ul
          = link_to root_path do
            .mypage-tab__list--notification お知らせ
          = link_to root_path do
            .mypage-tab__lis--todo やることリスト
      .mypage-tab__content
        %ul#mypage-tab-notification
          = link_to root_path do
            #notification-content
              = image_tag "mercari_profile.png"
              .item-body
                .item-body__text
                  6/30まで》「200円以下のセブンカフェ」、ファミリーマートの「アイスコーヒーM」が"11円"で買えるクーポンなど配信中！
                .item-body__time 
                  = fa_icon "times", class: "clock-icon"
                  １日前
              = fa_icon "angle-right", class: "angle-icon"
        %ul#mypage-tab-notification
          = link_to root_path do
            #notification-content
              = image_tag "mercari_profile.png"
              .item-body
                .item-body__text
                  事務局から個別メッセージ「《大感謝祭のお得チケットとあわせて使おう》特別にP100を進呈しました」
                .item-body__time 
                  = fa_icon "times", class: "clock-icon"
                  2日前
              = fa_icon "angle-right", class: "angle-icon"
        %ul#mypage-tab-notification
          = link_to root_path do
            #notification-content
              = image_tag "mercari_profile.png"
              .item-body
                .item-body__text
                  明日、5%還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                .item-body__time 
                  = fa_icon "times", class: "clock-icon"
                  3日前
              = fa_icon "angle-right", class: "angle-icon"
        %ul#mypage-tab-notification
          = link_to root_path do
            #notification-content
              = image_tag "mercari_profile.png"
              .item-body
                .item-body__text
                  《今だけ！》「セブンカフェ」、ファミリーマートの「アイスコーヒーM」が"11円"で買えるクーポンなど配信中！
                .item-body__time 
                  = fa_icon "times", class: "clock-icon"
                  4日前
              = fa_icon "angle-right", class: "angle-icon"
    .mypage-tab-deal
      購入した商品
      .mypage-tab
        .mypage-tab__list
          %ul
            = link_to root_path do
              .current-deal 取引中
            = link_to root_path do
              .past-deal 過去の取引
        .mypage-tab__content
          %ul.mypage-item-list
            .mypage-item-not-found
              過去取引した商品がありません