%body
  = render 'shared/header'
  %main.my-page
    .left-side
      = render 'shared/mypage-sidenav'
    .right-side
      .mypage-user
        = image_tag "mypage-icon.jpg"
        .mypage-user-icon
          = link_to root_path do
            = image_tag "fox.png"
            %h2 よしだじゅんき
            .mypage-number
              評価 37 出品数 27
      .mypage-tab
        .mypage-tabs
          %ul
            %li
              = link_to root_path do
                %h3.notification お知らせ
            %li
              = link_to root_path do
                %h3.todo やることリスト
        .tab-content
          %ul#mypage-tab-notification
            = link_to root_path do
              %li#notification-content
                = image_tag "mercari_profile.png"
                .item-body
                  .text
                    6/30まで》「200円以下のセブンカフェ」、ファミリーマートの「アイスコーヒーM」が"11円"で買えるクーポンなど配信中！
                  .time 
                    = fa_icon "times", class: "clock-icon"
                    %span １日前
                = fa_icon "angle-right", class: "angle-icon"
          %ul#mypage-tab-notification
            = link_to root_path do
              %li#notification-content
                = image_tag "mercari_profile.png"
                .item-body
                  .text
                    事務局から個別メッセージ「《大感謝祭のお得チケットとあわせて使おう》特別にP100を進呈しました」
                  .time 
                    = fa_icon "times", class: "clock-icon"
                    %span 2日前
                = fa_icon "angle-right", class: "angle-icon"
          %ul#mypage-tab-notification
            = link_to root_path do
              %li#notification-content
                = image_tag "mercari_profile.png"
                .item-body
                  .text
                    明日、5%還元お得チケットの有効期限が切れます！タップして詳細を確認しましょう。
                  .time 
                    = fa_icon "times", class: "clock-icon"
                    %span 3日前
                = fa_icon "angle-right", class: "angle-icon"
          %ul#mypage-tab-notification
            = link_to root_path do
              %li#notification-content
                = image_tag "mercari_profile.png"
                .item-body
                  .text
                    《今だけ！》「セブンカフェ」、ファミリーマートの「アイスコーヒーM」が"11円"で買えるクーポンなど配信中！
                  .time 
                    = fa_icon "times", class: "clock-icon"
                    %span 4日前
                = fa_icon "angle-right", class: "angle-icon"
        .mypage-tab-deal
          %h3 購入した商品
          .mypage-tab
            .mypage-tabs
              %ul
                %li
                  = link_to root_path do
                    %h3.current-deal 取引中
                %li
                  = link_to root_path do
                    %h3.past-deal 過去の取引
            .tab-content
              %ul.mypage-item-list
                %li.mypage-item-not-found
                  過去取引した商品がありません
  = render 'shared/footer'

