= render 'shared/sub-header'
.login-user
  .container
    .container__no-account
      アカウントをお持ちでない方はこちら
      %br
      = link_to root_path do
        新規会員登録
    .container__login
      .container__login--facebook.login-page-btn
        = link_to root_path do
          Facebookでログイン
          = fa_icon "facebook-square", class: "icon"
      .container__login--google.login-page-btn
        = link_to root_path do
          Googleでログイン
          = image_tag "google-icon.svg"
    .container__form
      .container__form--email
        メールアドレス
      .container__form--password
        パスワード
      .container__form--recaptcha
        ※後々実装します(ロボット認証)
      .container__form--session.btn-red
        = link_to root_path do
          ログイン
      .container__form--forgot-password
        = link_to root_path do
          パスワードお忘れの方
= render 'shared/sub-footer'