= render 'shared/sub-header'
%main
  %section.single-container
    .single-container__wrapper
      .sell-container
        .sell-container-inner
          .sell-contents#new_item
            .sell-contents__title 商品の情報を入力
            .sell-contents__form
            = form_for @item,html: { id: :form_id} do |f|
              .sell-upload-box
                %label.sell-image 出品画像
                %span.required 必須
                %p 最大10枚までアップロードできます
                .sell-upload-box__image
                  = f.file_field :image, class: "sell-upload-box__drop"
              .sell-content
                .form-group
                  %label 商品名
                  %span.required 必須
                  = f.text_field :name,class: "item-name", placeholder: "商品名（最大40文字まで）"
                .form-group
                  %label 商品の説明
                  %span.required 必須
                  = f.text_area :explain,placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
              .sell-content--category
                .title-box
                  %h3 商品の詳細
                .sell-form-box
                  .form-group
                    %label カテゴリー
                    %span.required 必須
                    = f.collection_select :id, @parents, :id, :name, {}, class: "category-group", id: 'parent-edit'
                    = f.collection_select :id, @children ,:id, :name, {}, class: 'category-group', id: 'child-edit'
                    = f.collection_select :category_id, @grandchildren ,:id, :name, {}, class: 'category-group', id: 'grand-edit'
                    #child-new
                    #grandchild-new
                    -# = f.hidden_field :category_id,class:'form_id' ,type:'form'
                    = f.number_field :seller_id, value: @seller,class:'seller_form', type:'form'
                    %i.icon-arrow-bottom
                  .form-group-under
                    %label 商品の状態
                    %span.required 必須
                    = f.collection_select :status_id, Status.all, :id, :text, {prompt: "---"} 
                    %i.icon-arrow-bottom
              .sell-content--delivery
                %h3 配送について
                = fa_icon "question-circle", class: "icon"
                .sell-form-box
                  .form-group
                    %label 配送料の負担
                    %span.required 必須
                    = f.collection_select :delivery_cost_id, DeliveryCost.all, :id, :cost, {prompt: "---"} , class: "category-group"
                    %i.icon-arrow-bottom
                  .form-group-under
                    %label 配送の方法
                    %span.required 必須
                    = f.collection_select :delivery_way_id, DeliveryWay.all, :id, :way, {prompt: "---"} , class: "category-group"
                    %i.icon-arrow-bottom
                  .form-group-under
                    %label 発送元の地域
                    %span.required 必須
                    = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {prompt: '---'}, class: "category-group"
                    %i.icon-arrow-bottom
                  .form-group-under
                    %label 発送までの日数
                    %span.required 必須
                    = f.collection_select :delivery_date_id, DeliveryDate.all, :id, :date, {prompt: "---"} , class: "category-group"
                    %i.icon-arrow-bottom
              .sell-content--price
                %h3 販売価格(300~9,999,999)
                = fa_icon "question-circle", class: "icon"
                %ul.sell-form-box
                  %li.form-group.price-menu
                    .clearfix
                      %label 価格
                      %span.required 必須
                      .price-box
                        .price-box__left ¥
                        = f.number_field :price, placeholder: "例) 300  ", class: "price-box__right", id: "price-input"
                  %li.center-box.clearfix
                    .left-box 販売手数料(10%)
                    #fee.right-box
                  %li.center-box.clearfix
                    .left-box.bold 販売利益
                    #total.right-box.bold  
              .sell-content--price.btn-box
                .upper-box
                  %p 禁止されている出品、行為を必ずご確認ください。
                  %p またブランド品でシリアルナンバー等がある場合はご記載ください。偽ブランドの販売は犯罪であ
                  %p り処罰される可能性があります。
                  %p また、出品をもちまして加盟店規約に同意したことになります。
                  %input.btn-red{"data-target" => "#myModal", "data-toggle" => "modal", :type => "submit",form: :item_form}
                  #myModal.modal.fade
                    .modal-dialog{style: 'max-width:900px;'}
                      .modal-content
                        .modal-header
                          .modal-header__text
                            出品が完了しました
                          %h4.modal-title 
                        .modal-body 
                          .modal-body__text
                            あなたが出品した商品は「出品した商品一覧」からいつでも見ることができます。
                          .modal-body__button
                            = f.submit class:"btn-red"
                          .modal-body__bottom_text
                            %button.btn-return{ "type"=>"button","onclick"=>"location.href='/items'"} ホームへ戻る
= render 'shared/sub-footer'