= render 'shared/header'
.main-content
  .main-content__img-box
    %ul.slider
      %li
        = image_tag 'top.png'
      %li
        = image_tag 'top2.png'
      %li
        = image_tag 'top3.png'
  .main-content__pickup
    ピックアップカテゴリー
  - @parents.each do |parent|
    - category = Category.where('ancestry LIKE(?)', "#{parent.id}/%")
    - if Item.exists?(category_id: category.first.id..category.last.id)
      .main-content__pickup__title
        #top-page.ladies
          = link_to "#{parent.name}新着アイテム", root_path
    - @items = Item.where(category_id: category.first.id..category.last.id).order("id ASC").limit(4)
    .main-content__items__field__pickup
      - @items.each do |item|
        = render partial: 'item', locals: {item: item}
.under-content
  =image_tag 'undercontent.png'
= render'shared/footer'