= render 'shared/header'
.back
  .box-main
    .box-main__name
      = @item.name
    .box-main__content
      .box-main__content__left
        .box-main__content__left__top-img
          = image_tag 'item.jpg'
        .box-main__content__left__row-img
          = image_tag 'aj1.jpg'
          = image_tag 'blueaj1.jpg'
          = image_tag 'redaj1.jpg'
          = image_tag 'item.jpg'
          = image_tag 'blackaj1.jpg'
      .box-main__content__right
        %table
          .table-main__buyer
            %th 出品者
            %td
              .table-main__buyer__name マイケル・ジョーダン
              .table-main__buyer__review
                .good
                  %i.fas.fa-smile
                156
                .normal
                  %i.fas.fa-meh
                18
                .bad
                  %i.fas.fa-frown
                2
          .table-main__category
            %tr
              %th カテゴリー
              %td
                .table-main__category__parent
                  メンズ
                .table-main__category__children
                  >スニーカー
                .table-main__category__grandchild
                  >ハイカット
          .table-main__brand
            %tr
              %th ブランド
              %td
                .table-main__brand__name
                  NIKE
          .table-main__item-status
            %tr
              %th 商品のサイズ
              %td
                M
          .table-main__item-status
            %tr
              %th 商品の状態
              %td
                目立った傷汚れなし
          .table-main__item-status
            %tr	
              %th 配送料の負担
              %td
                送料込み(出品者負担)
          .table-main__item-status
            %tr 
              %th 配送の方法
              %td
                らくらくメルカリ便
          .table-main__item-prefecture
            %tr
              %th 配送元地域
              %td
                .table-main__item-prefecture__text
                  ロサンゼルス
          %tr
            .table-main__item-status
              %th 発送日の目安
              %td
                1日
    .price-box
      %span.price-box__price   ¥ 35,700 
      %span.price-box__tax     (税込)
      %span.price-box__status  送料込み
    .buy-button
      = link_to root_path do
        .buy-button__text
          購入画面に進む
    .text-box
      = simple_format(@item.explain)
      .bottom-btn
        .bottom-btn__like
          %i.far.fa-heart
          .bottom-btn__like--text
            いいね！１
        .bottom-btn__caution
          %i.far.fa-flag
          .bottom-btn__caution--text
            不適切な商品の報告
        .bottom-btn__lock
          %i.fas.fa-lock
          あんしん・あんぜんへの取り組み
  .comment-box
    .comment-box__top
      .comment-box__top__text
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .comment-box__center
    .comment-box__button
      .comment-box__button__text
        コメントする
  .page-icon
    .page-icon__left
      %i.fas.fa-chevron-left
      テスト商品
    .page-icon__right
      テスト商品
      %i.fas.fa-chevron-right
  .icon-box
    .icon-box__main
      .icon-box__main__facebook
        %i.fab.fa-facebook-square
      .icon-box__main__twitter
        %i.fab.fa-twitter-square
      .icon-box__main__pinterest
        %i.fab.fa-pinterest-square
  = render'shared/another-user-items'
  = render'shared/another-category-items'
.under-content
  =image_tag 'undercontent.png'
= render'shared/footer'
