= render 'shared/registration-header'
.center-card
  .registration-form.fourth-step
    .registration-form__header
      支払い方法
    .registration-form__input
      .input-content
        = form_tag(pay_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
          .input-content__form
            .input-content__form--theme
              カード番号
            .input-content__form--require
              必須
            = text_field_tag "number", "", class: "number input-content__form--default", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number"
            %ul.input-content__form--payment
              %li
                = image_tag 'payment-icons/visa.svg'
              %li
                = image_tag 'payment-icons/mastercard.svg'
              %li
                = image_tag 'payment-icons/paypal.svg'
              %li
                = image_tag 'payment-icons/jcb.svg'
              %li
                = image_tag 'payment-icons/american-express.svg'
              %li
                = image_tag 'payment-icons/diners-club.svg'
              %li
                = image_tag 'payment-icons/discover.svg'
          .input-content__form
            .input-content__form--theme
              有効期限
            .input-content__form--require
              必須
            %select.input-content__form--select#exp_month{name: "exp_month", type: "text"}
              %option{value: ""} --
              %option{value: "1"}01
              %option{value: "2"}02
              %option{value: "3"}03
              %option{value: "4"}04
              %option{value: "5"}05
              %option{value: "6"}06
              %option{value: "7"}07
              %option{value: "8"}08
              %option{value: "9"}09
              %option{value: "10"}10
              %option{value: "11"}11
              %option{value: "12"}12
            %select#exp_year.input-content__form--select{name: "exp_year", type: "text"}
              %option{value: ""} --
              %option{value: "2019"}19
              %option{value: "2020"}20
              %option{value: "2021"}21
              %option{value: "2022"}22
              %option{value: "2023"}23
              %option{value: "2024"}24
              %option{value: "2025"}25
              %option{value: "2026"}26
              %option{value: "2027"}27
              %option{value: "2028"}28
              %option{value: "2029"}29
          .input-content__form
            .input-content__form--theme
              セキュリティコード
            .input-content__form--require
              必須
            = text_field_tag "cvc", "", class: "cvc input-content__form--default", placeholder: "カード背面4桁もしくは3桁の番号", maxlength: "4", id: "cvc"
            .form-info__text
              カード裏面の番号とは？
          .input-content__form
            #card_token
            = submit_tag "追加する", class: "btn-red", id: "token_submit"
= render 'shared/sub-footer'