.new-user
  = render 'shared/sub-header'
  .container
    .container__title
      新規会員登録
    .container__inner
      .container__inner__contents
        .container__inner__contents--email.default-btn
          = link_to user_basic_path, method: :get, class: "create_by_mail" do
            メールアドレスで登録
            = fa_icon "envelope-o", class: "icon"
        #facebook-login.container__inner__contents--facebook.default-btn
          = link_to root_path do
            Facebookで登録
            = fa_icon "facebook-square", class: "icon"
        #google-login.container__inner__contents--google.default-btn
          = link_to root_path do
            Googleで登録
            = image_tag "google-icon.svg"
  = render 'shared/sub-footer'