= render 'shared/registration-header'
.registration-form.fourth-step
  .registration-form__header
    支払い方法
  .registration-form__input
    .input-content
      .input-content__form
        .input-content__form--theme
          カード番号
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: '半角数字のみ'}
        %ul.input-content__form--payment
          %li
            = image_tag 'payment-icons/visa.svg'
          %li
            = image_tag 'payment-icons/mastercard.svg'
          %li
            = image_tag 'payment-icons/paypal.svg'
          %li
            = image_tag 'payment-icons/jcb.svg'
          %li
            = image_tag 'payment-icons/american-express.svg'
          %li
            = image_tag 'payment-icons/diners-club.svg'
          %li
            = image_tag 'payment-icons/discover.svg'
      .input-content__form
        .input-content__form--theme
          有効期限
        .input-content__form--require
          必須
        .input-content__form--select{placeholder: '例)7月'}
        .input-content__form--select{placeholder: '例)23年'}
      .input-content__form
        .input-content__form--theme
          セキュリティコード
        .input-content__form--require
          必須
        .input-content__form--default{placeholder: 'カード背面4桁もしくは3桁の番号'}
        .form-info__text
          カード裏面の番号とは？
      .input-content__form
        .btn-red
          次へ進む
= render 'shared/sub-footer'